
@font-face {
    font-family: "Mogena";
    src: url("./assets/Mogena.ttf");
  }
  
  @font-face {
    font-family: "Made Dillan";
    src: url("./assets/Made-Dillan.otf");
  }

  @font-face {
    font-family: "Aubrey";
    src: url("./assets/aubrey.TTF");
  }

.app {
    margin: 0;
    box-sizing: border-box;
    
}

/* NAV-BAR */
.nav-bar {
    background-color: white;
    height: 7vh;
    font-family: "Made Dillan";
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-list > a {
    margin: 1rem 1rem;
    text-decoration: none;
    color: black;
}

.nav-list > a:hover {
    color: rgb(243, 169, 32);
}


/* BANNER */
.banner {
    background-image: url("assets/apple-held.jpg");
    background-color: rgba(255, 255, 255, 0.25);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 93vh;
    font-family: "Made Dillan";
    color: rgb(246, 238, 181);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner > h1 {
    font-size: 7rem;
    margin-top: 3%;
}

.arrow {
    border: solid rgb(246, 238, 181);
    border-width: 0 3px 3px 0;
    color: blue;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
}