
@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=EB+Garamond:ital,wght@0,400;0,500;0,700;1,400&family=Inter:wght@400;600;700&family=Montserrat:wght@200;400;600&family=Playfair+Display:wght@400;600&family=Poppins:wght@100;200;400;500&family=Roboto+Condensed:wght@300&family=Roboto:wght@100;400;700;900&display=swap');

@font-face {
    font-family: "Mogena";
    src: url("./assets/Mogena.ttf");
  }
  
  @font-face {
    font-family: "Made Dillan";
    src: url("./assets/Made-Dillan.otf");
  }

  @font-face {
    font-family: "Aubrey";
    src: url("./assets/aubrey.TTF");
  }

.app {
    margin: 0;
    box-sizing: border-box;
    
}

/* NAV-BAR */
.nav-bar {
    background-color: white;
    height: 7vh;
    font-family: "Made Dillan";
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-list > a {
    margin: 1rem 1rem;
    text-decoration: none;
    color: black;
}

.nav-list > a:hover {
    color: rgb(243, 169, 32);
}


/* BANNER */
.banner {
    background-image: url("assets/apple-held.jpg");
    background-color: rgba(255, 255, 255, 0.25);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: "Made Dillan";
    color: rgb(254, 251, 225);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}

.banner > h1 {
    font-size: 7rem;
    
}

.banner-btn {
    background-color: rgba(254, 251, 225, .25);
    color:rgb(253, 253, 253);
    border: 2px solid rgb(254, 251, 225);
    height: 60px;
    width: 400px;
    font-size: 2rem;
    
}

.banner-btn:hover {
    background-color:rgb(251, 175, 33);
}

/* RosterView */
.rosterview {
    padding-bottom: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(250, 248, 234);
}

.roster-view {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}


/* form */
.forms {
    width: 40%;
    max-width: 500px;
}

.student-form {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: white;
    
}

.student-form > h5{
    font-family: "Made Dillan";
}

.name-input {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0.5rem;
}

.form-checks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-checks > button {
    margin-top: 1rem;
}

button {
    color: white;
    background-color: rgb(251, 175, 33);
    font-family: "Poppins";
    font-weight: 500;
    border: none;
    border-radius: 10px !important; 
    margin-bottom: 1rem !important;
}
/* Roster */
.roster {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 70vh;
    padding: 1rem 0rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow-y: scroll;
    background-color: white;
}

.roster > h2 {
    font-family: "Made Dillan";
    font-weight: bold;
}

.student-roster {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    width: 100%;
    border-bottom: 1px solid black;
    align-items: center;
}

.student-roster > h5 {
    font-family: "Made Dillan";
    margin-bottom: 1rem;
    color: rgb(251, 175, 33);
    padding: 0 1rem;
}

.roster-btns > button {
    margin: 0 .5rem;
}

/* Create Groups */
.create-groups {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 2rem;
    justify-content: space-evenly;
    background-color: white;
}

.create-groups-input {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0.5rem;
}

.create-groups-input > input {
    width: 60px;
}

.create-groups > button {
    margin: 1rem 1rem;
}

/* GroupView */
.group-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(250, 248, 234);
    height: 100%;
}

.group-view > h1 {
    color:rgb(251, 175, 33);
    font-family: "Made Dillan";
    font-size: 4rem;
    padding: 2rem 0;
    background-color: white;
    width: 100vw;
    text-align: center;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: 2px 2px rgb(245, 161, 6);
}


.grid {
    display: grid;
    gap: 40px;
    grid-template-columns: auto;
    width: 100%;
    justify-content: center;
    margin: 2rem 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
}



.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    padding: 1rem 0;
    min-width: 20vw;
    
}

.group > h4{
    
    font-family: "Made Dillan";
}